body {
  background-image: linear-gradient(to bottom, #7B7987, #A00609);
  height: 100vh; /* Altura da tela inteira */
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}

.logo {
  position: absolute; /* Posiciona a logo fora do fluxo normal */
  top: 20px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo img {
  width: 70px;
  height: auto;
}

.pergunta {
  margin-top: 100px;
  display: flex;
  flex-direction: column; /* Permite que os elementos sejam empilhados */
  background-color: #BFBFC6;
  width: 800px;
  padding: 40px;
  border-radius: 10px;
  text-align: center; /* Centraliza o texto */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona um sombreamento leve */
}

.pergunta h1 {
  margin-bottom: 20px; /* Espaçamento entre o título e os elementos abaixo */
}

.color-scale {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  margin: 20px 0;
  gap: 10px; /* Espaçamento entre os botões */
}

.color-box {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.2s ease; /* Animação ao passar o mouse */
}

.color-box:hover {
  transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}

.feedback {
  margin-top: 20px;
  text-align: center;
}

.feedback label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.feedback textarea {
  width: 100%;
  max-width: 700px; /* Limita a largura máxima */
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  resize: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

.submit {
  margin-top: 20px;
  text-align: center;
}

.submit button {
  background-color: #09C719;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit button:hover {
  background-color: #075027; /* Cor ao passar o mouse */
}

.rodape {
  width: 100%;
  height: 100px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.rodape p {
  font-style: italic;
  margin: 0;
  line-height: 100px; /* Centraliza o texto verticalmente */
}
